.DS_Store
.dart_tool/

.packages
.pub/
.idea/
build/

*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
/build
/captures
.externalNativeBuild
/*/out
/*/*/build
/*/*/production
*.iws
*.ipr
*~
*.swp
